<!-- <p>&copy;2022-{{ now.Year }} まりつく.com All rights reserved.</p> -->
<footer class="footer pb-4">
    <div class="container pt-5 text-center">
        <div class="row justify-content-center pb-3">
            <div class="col">
                <div class="sns-icon-twitter float-end">
                    <a href="https://twitter.com">
                        <i class="bi bi-twitter" style="font-size:36px;color: rgb(29,155,240);"></i>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="sns-icon-github float-start">
                    <a href="https://github.com">
                        <i class="bi bi-github" style="font-size:36px; color: #000;"></i>
                    </a>
                </div>
            </div>
        </div>
        <p class="copyright">&copy;2022-{{ now.Year }} まりつく.com All Rights Reserved.</p>
    </div>
</footer>